* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #ddd;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
header {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: black;
    color: #ddd;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    max-width: 100px;
}
.menu {
    display: flex;
    align-items: center;
}
nav ul, nav li {
    list-style: none;
    margin:0;
    padding:0;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaaaaa;
}
nav .active, nav a:hover {
    background-color: #626262;
    color: #eeee;
}
.menuMobile {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.menuMobile:hover {
    cursor: pointer;
}
.mm_line {
    background-color: #dddd;
    height: 3px;
    width: 35px;
    margin: 5px;
    margin-top: 10px;
}

.column {
    flex-direction: column;
}
#banner {
    display: flex;
    justify-content: center;
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
}
.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    max-width: 350px;

    font-size: 70px;
    text-shadow: 1px 1px 1px #220;
    margin: 0;
    padding: 0;
}
.banner_headline h2 {
    max-width: 350px;
    color: #eee;
    font-size: 21px;
    text-shadow: 1px 1px 1px #220;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.banner_options {
    display: flex;
}
.banner1, .banner2, .banner3 {
    flex: 1;
}
.banner1 {
    background-color: #404040;
    padding: 20px;
}
.banner2 {
    background-color: #444444;
    padding: 20px;
}
.banner3 {
    background-color: #484848;
    padding: 20px;
}
.banner_title {
    font-size: 21px;
}
.banner_desc {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options .button {
    display: inline-block;
    border: 1px solid #dddd;
    padding: 10px;
    color: #eee;;
    text-decoration: none;
}
.banner_locations a {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px white;
}
.banner_locations_title {
    font-size: 14px;
    padding: 10px;
}
.banner_locations_adress {
    font-size: 14px;
    padding: 10px;
}
.banner_locations a {
    text-decoration: none;
    color: #eee;
}

#content {
    display: flex;
    justify-content: center;
}
#content section {
    flex: 2;
}
#content aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text {
    font-size: 20px;
    font-weight: bold;
}
.widget_title_bar {
    margin-top: 5px;
    height: 2px;
    width: 40px;
    background-color: #606060;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flexColumn {
    flex-direction: column;
}
article {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
    color: #eee;
}
article .news_data {
    display: flex;
}
article .news_posted_at {
    color: #dddd;
    background-color: #404040;
    font-size: 12px;
    padding: 5px;
}
article .news_comments {
    color: #dddd;
    background-color: #606060;
    font-size: 12px;
    padding: 5px;
    margin-left: 2px;
}
article .news_thumbnail {
    margin-top: 20px;
}
article .news_thumbnail img {
    width: 100%;
    height: 200px
}
article .news_title {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 25px;
}
article .news_resume {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}
.gallery{
    flex-wrap: wrap;
}
.photos {
    flex: 40%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.photos img {
    width: 150px;
    max-height: 84px;
}
.places_desc {
    font-size: 14px;
    padding-bottom: 20px;
}
.places a {
    color: #ddd;
    text-decoration: none;
}
.places {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.places_location {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
    vertical-align: text-top;
}
.places_line {
    height: 1px;
    width: 100%;
    background-color: #606060;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #202020;
}
.footer_menu {
    display: flex;
    flex: 1;
}
.fm_1, .fm_2, .fm_3 {
    flex: 1;
    padding: 20px;
}
.fm_1 {
    background-color: #404040;
}
.fm_2 {
    background-color: #444444;
}
.fm_3 {
    background-color: #484848;
}
.footer_menu a {
    flex: 1;
    color: #dddd;
    text-decoration: none;
}
.footer_menu_title {
    font-size: 21px;
    padding-bottom: 15px;
}
.footer_menu_text {
    font-size: 12px;
}

.footer_area {
    display: flex;
}
.footer_areaItem {
    flex: 1;
}
.footer_areaItem a {
    text-decoration: none;
}

.footer_desc {
    margin-bottom: 30px;
}
.footer_info {
    display: flex;
    justify-content: space-between;
}
.footer_info_title {
    flex: 100%;
}
.footer_info_text, .footer_info_contact {
    flex:1;
    padding-top: 5px;
    word-break: break-all;
}
.footer_info_contact {
    text-align: center;
}

.latest_posts {
    display: flex;
    margin-bottom: 25px;
    color: #ffffff;
}
.latest_posts_icon {
    margin-right: 5px;
    line-height: 20px;
}
.latest_posts_text {
    word-break: break-all;
    margin-bottom: 10px;
    padding-right: 5px;
}
.latest_posts_postedAt {
    color: #808080
}

.latest_tweets {
    display: flex;
    margin-bottom: 25px;
    color: #ffffff;
}
.latest_tweets_icon {
    margin-right: 5px;
    line-height: 20px;
}
.latest_tweets_text {
    word-break: break-all;
    margin-bottom: 10px;
    padding-right: 5px;
}
.latest_tweets_postedAt {
    color: #808080
}


.footer_copy {
    border-top: 1px solid #aaaa;
    height: 40px;
    line-height: 40px;
    color: #808080;
    margin-top: 30px;
}   

@media (max-width: 768px) {
    #banner {
        height: auto;
        padding-top: 20px;
    }
    .banner_headline h1 {
        font-size: 55px;
    }
    .banner_headline h2, .banner_title {
        font-size: 18px;
    }
    .banner_options {
        margin-top: 30px;
        flex-direction: column;
    }

    .footer_menu_title {
        font-size: 18px;
    }
    .widget_title_text {
        font-size: 18px;
    }
    .footer_desc, .footer_info_title, .footer_info_text, .footer_info_contact, .latest_posts_icon, .latest_posts_text, .latest_posts_postedAt, .latest_tweets_icon, .latest_tweets_text, .latest_tweets_postedAt, .footer_copy {
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .container {
        flex-direction: column;
    }
    header {
        height: auto;
    }
    header .container {
        flex-direction: row;
    }
    .menuMobile {
        display: block;
    }
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: black;
    }
    .footer_menu {
        flex-direction: column;
    }
    .footer_area {
        flex-direction: column;
    }
}